.yarn-error.logs
yarn-error.log
package-lock.json
yarn.lock

/packages/*/dist
/packages/*/docs
/packages/*/nodecore_logs
/packages/*/package-lock.json
/packages/*/.DS_Store
/packages/*/node_modules
/packages/*/nodecore_modules

/dist
/docs
/node_modules
/nodecore_modules

.DS_Store
lastTest.js
test.js
unitTest.js
nodecore_logs
logs_dump.log
.error.log
.aliaser