.yarn-error.logs
yarn-error.log
package-lock.json
yarn.lock

/packages/*/dist
/packages/*/docs
/packages/*/corenode_logs
/packages/*/package-lock.json
/packages/*/.DS_Store
/packages/*/node_modules
/packages/*/corenode_modules

/build
/dist
/docs
/node_modules
/corenode_modules
/modules

.DS_Store
lastTest.js
test.js
unitTest.js
corenode_logs
logs_dump.log
dumps.log
.error.log
.crash.log
.aliaser

debugger-ui/node_modules

*/**/.tmp
*/**/node_modules
*/**/dist

*/**/dumps.log
*/**/build
*/**/.DS_Store
node_source